@model RaterestaurantMVC.Application.ViewModels.Restaurant.RestaurantEditVm

@{
    ViewData["Title"] = "EditRestaurant";
}

<h1>Edit Restaurant</h1>

<hr />
<form asp-action="EditRestaurant" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatNumber" type="text" class="control-label"></label>
                <input asp-for="FlatNumber" class="form-control" />
                <span asp-validation-for="FlatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberFirst" class="control-label"></label>
                <input asp-for="PhoneNumberFirst" type="tel" class="form-control" />
                <span asp-validation-for="PhoneNumberFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberSecond" class="control-label"></label>
                <input asp-for="PhoneNumberSecond" type="tel" class="form-control" />
                <span asp-validation-for="PhoneNumberSecond" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestaurantPicture" style="width: 100%"></label>
                @if (Model.RestaurantPicture != null)
                {
                    <img id="profilePicture" width="636"; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.RestaurantPicture))">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="RestaurantPicture"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" />
                <span asp-validation-for="RestaurantPicture" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
