@model RaterestaurantMVC.Application.ViewModels.Restaurant.ListRestaurantForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Adres
            </th>
            <th>
                Średnia ocena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Restaurants) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRate)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewRestaurant", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
