@{
    ViewData["Title"] = "Home Page";
}

<!-- Portfolio Section-->

<section id="restaurants">
    <h1>Polecane restauracje</h1>
    <div class="container">
        <div class="row">
            <div>Restauracja 1</div>
        </div>
    </div>
</section>

 <!-- About Section-->

<section id="about-us">
    <h1>O nas</h1>
    <div class="container">
        Jesteś głodny? Jest weekend? Nie wiesz skąd zamówić jedziesz?
        <br />
        My wiemy! Sprawdź opinię o restauracjach w swojeji okolicy i wybierz swoją ulubiona.
    </div>
</section>

<!-- Contact Section-->

<section id="contact">
    <h1>Kontakt</h1>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida eros elit. Nullam scelerisque accumsan faucibus. Vestibulum aliquam faucibus feugiat. Integer vitae vehicula ex. Nunc sollicitudin convallis sapien, id rutrum ex ultricies at. Proin egestas nulla vitae ligula congue interdum. Fusce ac mi at leo mollis blandit. Donec molestie, dui at rhoncus luctus, diam ex interdum arcu, nec ullamcorper metus nisi in ante. Sed ultricies ipsum in egestas pharetra. Aliquam et eros sed augue laoreet accumsan. Morbi pulvinar tristique turpis, at sollicitudin ipsum finibus nec. In ut odio eget quam hendrerit commodo at ut massa. Fusce luctus dolor sit amet dolor ullamcorper dapibus. Morbi at justo et lorem elementum viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis justo nibh, ut interdum eros maximus eget. Nulla a libero lectus. Mauris placerat arcu vitae vehicula posuere. Sed feugiat quis arcu a tincidunt. Suspendisse bibendum elit in gravida lacinia. Duis dolor ligula, eleifend vel lorem sit amet, venenatis porttitor odio. Suspendisse ac placerat odio. In lacinia massa at tellus aliquam porta. Fusce in vehicula ante, vel varius nisl. Fusce in porttitor ligula. Pellentesque nec malesuada lacus, vel rutrum sapien. Quisque ornare quam ut lectus iaculis lobortis. Mauris vel eros fermentum mi laoreet consequat. Curabitur vulputate massa justo. Nullam vulputate lectus vitae iaculis porttitor. Phasellus suscipit justo sed lorem lobortis, in pretium lacus vestibulum. Maecenas lacinia tortor turpis, quis pretium velit accumsan in. Nulla facilisi. Duis at neque lobortis, tempor purus in, pharetra quam. Fusce laoreet ante ac justo elementum varius. In hac habitasse platea dictumst.
    </div>
</section>
