@model RaterestaurantMVC.Application.ViewModels.Restaurant.ListRestaurantForListVm

@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->

<section class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</section>

<!-- Info box -->

<section class="page-section" id="services">
    <div class="fluid-container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Jak oceniać?</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="my-3">Załóż konto</h4>
                <p class="text-muted">Załóż konto jako zwykły użytkownik, możesz wtedy przeglądać restauracje i dodawać do nich opinie lub załóż konto jako restaurator, a będziesz mógł dodać swoją restaurację.</p>
            </div>
            <div class="col-md-4">
                <h4 class="my-3">Znajdź restaurację</h4>
                <p class="text-muted">Na liście restauracji poszukaj restaurację, którą chcesz ocenić i wejdź w jej kartę.</p>
            </div>
            <div class="col-md-4">
                <h4 class="my-3">Zostaw opinię</h4>
                <p class="text-muted">Po wejściu w kartę restauracji, pod opisem znajduje się formularz do oceny. Pamiętaj, że kazdą restaurację możesz ocenić tylko raz.</p>
            </div>
        </div>
    </div>
</section>


<!-- Portfolio Section-->

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Najlepiej oceniane restauracje</h2>
        </div>
        <div class="row">
            @if (Model.Restaurants.Count > 0)
            {
                @foreach (var restaurant in Model.Restaurants)
                {
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="restaurant/viewrestaurant/@restaurant.Id">
                                @if (Convert.ToBase64String(restaurant.RestaurantPicture) != "") {
                                    <img src="data:image/*;base64,@(Convert.ToBase64String(restaurant.RestaurantPicture))" alt="Obrazek restauracji użytkownika" width="306" />
                                }
                                else
                                {
                                    <img src="~/assets/images/default-restaurant-picture.jpg" alt="Obrazek restauracji" width="306" />
                                }
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@restaurant.Name</div>
                                <div class="portfolio-caption-subheading">Ocena: @restaurant.AvgRate/10</div>
                                <div class="portfolio-caption-subheading text-muted">@restaurant.Adress</div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 col-sm-12 mb-12">Brak restauracji</div>
            }
        </div>
    </div>
</section>

<!-- Contact -->

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Kontakt</h2>
        </div>
    </div>
</section>